# Estimating local and global feature importance scores using DiCE

Summaries of counterfactual examples can be used to estimate importance of features. Intuitively, a feature that is changed more often to generate a proximal counterfactual is an important feature. We use this intuition to build a feature importance score. 

This score can be interpreted as a measure of the **necessity** of a feature to cause a particular model output. That is, if the feature's value changes, then it is likely that the model's output class will also change (or the model's output will significantly change in case of regression model).  

Below we show how counterfactuals can be used to provide local feature importance scores for any input, and how those scores can be combined to yield a global importance score for each feature.

In [3]:
pip install dice-ml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dice-ml
  Downloading dice_ml-0.9-py3-none-any.whl (2.6 MB)
     |████████████████████████████████| 2.6 MB 28.8 MB/s
Requirement already satisfied: jsonschema in /usr/local/lib/python3.8/dist-packages (from dice-ml) (4.3.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from dice-ml) (1.0.2)
Requirement already satisfied: h5py in /usr/local/lib/python3.8/dist-packages (from dice-ml) (3.1.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from dice-ml) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from dice-ml) (1.21.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from dice-ml) (4.64.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema->dice-ml) (5.10.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema->dice-ml) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema->dice-ml) (0.19.2)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.8/dist-packages (from importlib-resources>=1.4.0->jsonschema->dice-ml) (3.11.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->dice-ml) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->dice-ml) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->dice-ml) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->dice-ml) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->dice-ml) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->dice-ml) (1.2.0)
Installing collected packages: dice-ml
Successfully installed dice-ml-0.9

In [5]:

from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier

import dice_ml
from dice_ml import Dice
from dice_ml.utils import helpers  # helper functions

In [6]:
%load_ext autoreload
%autoreload 2

## Preliminaries: Loading the data and ML model

In [7]:
dataset = helpers.load_adult_income_dataset().sample(5000)  # downsampling to reduce ML model fitting time
helpers.get_adult_data_info()

{'age': 'age',
 'workclass': 'type of industry (Government, Other/Unknown, Private, Self-Employed)',
 'education': 'education level (Assoc, Bachelors, Doctorate, HS-grad, Masters, Prof-school, School, Some-college)',
 'marital_status': 'marital status (Divorced, Married, Separated, Single, Widowed)',
 'occupation': 'occupation (Blue-Collar, Other/Unknown, Professional, Sales, Service, White-Collar)',
 'race': 'white or other race?',
 'gender': 'male or female?',
 'hours_per_week': 'total work hours per week',
 'income': '0 (<=50K) vs 1 (>50K)'}

In [8]:
target = dataset["income"]

# Split data into train and test
datasetX = dataset.drop("income", axis=1)
x_train, x_test, y_train, y_test = train_test_split(datasetX,
                                                    target,
                                                    test_size=0.2,
                                                    random_state=0,
                                                    stratify=target)

numerical = ["age", "hours_per_week"]
categorical = x_train.columns.difference(numerical)

# We create the preprocessing pipelines for both numeric and categorical data.
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())])

categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

transformations = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numerical),
        ('cat', categorical_transformer, categorical)])

# Append classifier to preprocessing pipeline.
# Now we have a full prediction pipeline.
clf = Pipeline(steps=[('preprocessor', transformations),
                      ('classifier', RandomForestClassifier())])
model = clf.fit(x_train, y_train)

In [9]:
d = dice_ml.Data(dataframe=dataset, continuous_features=['age', 'hours_per_week'], outcome_name='income')
m = dice_ml.Model(model=model, backend="sklearn")

## Local feature importance

We first generate counterfactuals for a given input point.

In [10]:
exp = Dice(d, m, method="random")
query_instance = x_train[1:2]
e1 = exp.generate_counterfactuals(query_instance, total_CFs=10, desired_range=None,
                                  desired_class="opposite",
                                  permitted_range=None, features_to_vary="all")
e1.visualize_as_dataframe(show_only_changes=True)

100%|██████████| 1/1 [00:00<00:00,  1.35it/s]

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,56,Private,School,Married,Professional,White,Male,40,1

Diverse Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,45.0,-,-,-,Other/Unknown,-,-,-,0
1,-,-,-,Single,-,Other,-,-,0
2,-,-,HS-grad,-,-,-,-,22.0,0
3,24.0,-,-,Single,-,-,-,-,0
4,-,Government,-,-,Sales,-,-,-,0
5,-,-,-,Single,-,-,-,32.0,0
6,-,-,-,Single,Sales,-,-,-,0
7,-,-,-,-,White-Collar,-,-,8.0,0
8,40.0,-,-,-,Blue-Collar,-,-,-,0
9,-,-,Assoc,-,Sales,-,-,-,0

These can now be used to calculate the feature importance scores.

In [11]:
imp = exp.local_feature_importance(query_instance, cf_examples_list=e1.cf_examples_list)
print(imp.local_importance)

[{'occupation': 0.6, 'marital_status': 0.4, 'age': 0.3, 'hours_per_week': 0.3, 'education': 0.2, 'workclass': 0.1, 'race': 0.1, 'gender': 0.0}]

Feature importance can also be estimated directly, by leaving the `cf_examples_list` argument blank.

In [12]:
imp = exp.local_feature_importance(query_instance, posthoc_sparsity_param=None)
print(imp.local_importance)

100%|██████████| 1/1 [00:00<00:00,  5.31it/s]

[{'age': 0.5, 'marital_status': 0.4, 'occupation': 0.3, 'hours_per_week': 0.3, 'education': 0.2, 'workclass': 0.1, 'race': 0.1, 'gender': 0.1}]

## Global importance

For global importance, we need to generate counterfactuals for a representative sample of the dataset.

In [13]:
cobj = exp.global_feature_importance(x_train[0:10], total_CFs=10, posthoc_sparsity_param=None)
print(cobj.summary_importance)

100%|██████████| 10/10 [00:01<00:00,  6.01it/s]

{'age': 0.55, 'marital_status': 0.36, 'hours_per_week': 0.3, 'education': 0.29, 'occupation': 0.19, 'gender': 0.17, 'race': 0.13, 'workclass': 0.11}

## Convert the counterfactual output to json

In [14]:
json_str = cobj.to_json()
print(json_str)

{"test_data": [[[42, "Self-Employed", "Prof-school", "Married", "Professional", "White", "Male", 50, 1]], [[56, "Private", "School", "Married", "Professional", "White", "Male", 40, 1]], [[39, "Private", "Some-college", "Married", "White-Collar", "White", "Male", 48, 0]], [[31, "Private", "Some-college", "Married", "Service", "Other", "Male", 40, 0]], [[71, "Self-Employed", "Some-college", "Married", "White-Collar", "White", "Male", 50, 1]], [[65, "Private", "HS-grad", "Widowed", "Sales", "White", "Female", 40, 0]], [[67, "Government", "HS-grad", "Widowed", "Service", "White", "Male", 40, 0]], [[25, "Other/Unknown", "School", "Single", "Other/Unknown", "White", "Male", 40, 0]], [[51, "Government", "Some-college", "Married", "Sales", "White", "Male", 40, 1]], [[26, "Private", "Bachelors", "Single", "White-Collar", "Other", "Female", 32, 0]]], "cfs_list": [[[42, "Self-Employed", "HS-grad", "Married", "Professional", "White", "Male", 10.0, 0], [65.0, "Self-Employed", "Prof-school", "Married", "Professional", "White", "Female", 50, 0], [42, "Self-Employed", "HS-grad", "Married", "Service", "White", "Male", 50, 0], [42, "Other/Unknown", "HS-grad", "Married", "Professional", "White", "Male", 50, 0], [22.0, "Self-Employed", "Prof-school", "Married", "Blue-Collar", "White", "Male", 50, 0], [17.0, "Private", "Prof-school", "Married", "Professional", "White", "Male", 50, 0], [42, "Self-Employed", "Prof-school", "Separated", "Professional", "White", "Female", 50, 0], [68.0, "Private", "Prof-school", "Married", "Professional", "White", "Male", 50, 0], [85.0, "Self-Employed", "Prof-school", "Married", "Professional", "White", "Male", 50, 0], [42, "Self-Employed", "Prof-school", "Widowed", "Professional", "White", "Female", 50, 0]], [[49.0, "Private", "School", "Single", "Professional", "White", "Male", 40, 0], [82.0, "Private", "School", "Single", "Professional", "White", "Male", 40, 0], [56, "Self-Employed", "School", "Married", "Professional", "White", "Male", 5.0, 0], [56, "Other/Unknown", "School", "Married", "Professional", "White", "Female", 40, 0], [67.0, "Private", "School", "Married", "Other/Unknown", "White", "Male", 40, 0], [56, "Private", "School", "Married", "Blue-Collar", "Other", "Male", 40, 0], [56, "Private", "School", "Separated", "Professional", "Other", "Male", 40, 0], [56, "Private", "School", "Divorced", "Professional", "White", "Female", 40, 0], [46.0, "Private", "School", "Married", "Service", "White", "Male", 40, 0], [77.0, "Private", "School", "Married", "Professional", "White", "Female", 40, 0]], [[76.0, "Private", "Some-college", "Married", "White-Collar", "Other", "Male", 48, 0], [39, "Private", "Some-college", "Married", "White-Collar", "White", "Female", 71.0, 1], [39, "Private", "Some-college", "Married", "Sales", "White", "Male", 11.0, 1], [33.0, "Private", "Some-college", "Married", "White-Collar", "White", "Male", 48, 1], [39, "Private", "Doctorate", "Married", "White-Collar", "White", "Female", 48, 1], [51.0, "Private", "Some-college", "Married", "Service", "White", "Male", 48, 1], [57.0, "Private", "Some-college", "Married", "Professional", "White", "Male", 48, 1], [82.0, "Private", "Some-college", "Married", "White-Collar", "Other", "Male", 48, 1], [39, "Private", "Some-college", "Married", "White-Collar", "White", "Male", 92.0, 1], [46.0, "Private", "Some-college", "Married", "White-Collar", "White", "Male", 55.0, 1]], [[56.0, "Private", "Some-college", "Married", "Service", "Other", "Male", 40, 1], [51.0, "Private", "Some-college", "Married", "Service", "Other", "Male", 40, 1], [89.0, "Private", "Some-college", "Married", "Service", "Other", "Male", 40, 1], [72.0, "Private", "Some-college", "Married", "Service", "Other", "Male", 40, 1], [77.0, "Private", "Some-college", "Married", "Service", "Other", "Male", 59.0, 1], [31, "Private", "School", "Married", "Service", "White", "Male", 40, 1], [86.0, "Private", "Some-college", "Married", "Service", "White", "Male", 40, 1], [69.0, "Private", "Some-college", "Married", "Service", "Other", "Male", 40, 1], [82.0, "Private", "Some-college", "Married", "Service", "Other", "Male", 40, 1], [53.0, "Private", "Some-college", "Married", "Service", "Other", "Male", 40, 1]], [[71, "Self-Employed", "Some-college", "Married", "White-Collar", "White", "Male", 39.0, 0], [71, "Private", "Prof-school", "Married", "White-Collar", "White", "Male", 50, 0], [81.0, "Self-Employed", "Some-college", "Married", "White-Collar", "Other", "Male", 50, 0], [71, "Self-Employed", "Some-college", "Married", "White-Collar", "White", "Female", 92.0, 0], [71, "Self-Employed", "HS-grad", "Married", "White-Collar", "White", "Female", 50, 0], [71, "Self-Employed", "Some-college", "Married", "Other/Unknown", "Other", "Male", 50, 0], [71, "Self-Employed", "Some-college", "Widowed", "White-Collar", "White", "Male", 12.0, 0], [71, "Self-Employed", "Some-college", "Widowed", "White-Collar", "Other", "Male", 50, 0], [78.0, "Self-Employed", "Some-college", "Married", "White-Collar", "White", "Male", 8.0, 0], [71, "Other/Unknown", "Some-college", "Married", "Blue-Collar", "White", "Male", 50, 0]], [[65, "Private", "Some-college", "Widowed", "Sales", "White", "Female", 46.0, 1], [65, "Private", "Some-college", "Married", "Sales", "White", "Female", 40, 1], [65, "Private", "Masters", "Widowed", "Sales", "White", "Female", 53.0, 1], [35.0, "Private", "HS-grad", "Married", "Sales", "White", "Female", 40, 1], [65, "Private", "Doctorate", "Widowed", "Sales", "White", "Female", 88.0, 1], [41.0, "Private", "HS-grad", "Married", "Sales", "White", "Female", 40, 1], [65, "Private", "Some-college", "Widowed", "Sales", "White", "Female", 88.0, 1], [38.0, "Private", "HS-grad", "Married", "Sales", "White", "Female", 40, 1], [36.0, "Private", "HS-grad", "Married", "Sales", "White", "Female", 40, 1], [65, "Private", "Some-college", "Widowed", "Sales", "White", "Female", 67.0, 1]], [[73.0, "Government", "HS-grad", "Married", "Service", "White", "Male", 40, 1], [67, "Government", "Prof-school", "Married", "Service", "White", "Male", 40, 1], [67, "Government", "HS-grad", "Married", "Service", "Other", "Male", 40, 1], [76.0, "Government", "HS-grad", "Married", "Service", "White", "Male", 40, 1], [67, "Government", "Masters", "Married", "Service", "White", "Male", 40, 1], [67, "Government", "Prof-school", "Widowed", "Service", "White", "Male", 59.0, 1], [67, "Government", "HS-grad", "Married", "Service", "White", "Male", 40, 1], [89.0, "Government", "HS-grad", "Married", "Service", "White", "Male", 40, 1], [67, "Government", "HS-grad", "Married", "White-Collar", "White", "Male", 40, 1], [67, "Government", "Prof-school", "Widowed", "Service", "White", "Male", 46.0, 1]], [[67.0, "Other/Unknown", "Masters", "Single", "Other/Unknown", "White", "Female", 40, 1], [44.0, "Other/Unknown", "School", "Single", "Professional", "White", "Male", 94.0, 1], [52.0, "Other/Unknown", "Masters", "Single", "White-Collar", "White", "Female", 40, 1], [67.0, "Government", "Masters", "Single", "Other/Unknown", "White", "Female", 40, 1], [81.0, "Other/Unknown", "Masters", "Single", "Other/Unknown", "White", "Female", 40, 1], [43.0, "Other/Unknown", "HS-grad", "Married", "Other/Unknown", "White", "Female", 40, 1], [52.0, "Other/Unknown", "Masters", "Married", "White-Collar", "White", "Female", 40, 1], [44.0, "Private", "Masters", "Married", "Sales", "White", "Male", 40, 1], [52.0, "Other/Unknown", "Prof-school", "Divorced", "Professional", "White", "Male", 78.0, 1], [67.0, "Government", "Doctorate", "Single", "White-Collar", "White", "Male", 62.0, 1]], [[51, "Government", "School", "Married", "Sales", "White", "Male", 53.0, 0], [37.0, "Government", "Some-college", "Single", "Sales", "White", "Male", 40, 0], [51, "Government", "Some-college", "Married", "Sales", "White", "Male", 25.0, 0], [45.0, "Government", "Some-college", "Married", "Sales", "White", "Female", 40, 0], [51, "Other/Unknown", "Some-college", "Married", "Sales", "Other", "Male", 40, 0], [51, "Government", "Masters", "Married", "Sales", "White", "Male", 13.0, 0], [51, "Government", "Some-college", "Married", "Service", "White", "Male", 77.0, 0], [51, "Government", "Some-college", "Married", "Blue-Collar", "White", "Male", 55.0, 0], [51, "Government", "Assoc", "Married", "Sales", "White", "Male", 11.0, 0], [29.0, "Government", "Some-college", "Married", "Sales", "White", "Male", 40, 0]], [[81.0, "Private", "Bachelors", "Married", "White-Collar", "Other", "Female", 90.0, 1], [65.0, "Private", "Bachelors", "Married", "White-Collar", "Other", "Female", 32, 1], [49.0, "Private", "Bachelors", "Married", "White-Collar", "Other", "Female", 32, 1], [81.0, "Private", "Bachelors", "Married", "White-Collar", "Other", "Female", 32, 1], [26, "Private", "Bachelors", "Married", "White-Collar", "White", "Female", 72.0, 1], [47.0, "Private", "Bachelors", "Married", "White-Collar", "Other", "Female", 32, 1], [79.0, "Private", "Bachelors", "Married", "White-Collar", "Other", "Female", 32, 1], [26, "Private", "Bachelors", "Married", "White-Collar", "Other", "Female", 64.0, 1], [52.0, "Private", "Bachelors", "Married", "White-Collar", "Other", "Female", 32, 1], [58.0, "Private", "Bachelors", "Married", "White-Collar", "White", "Female", 32, 1]]], "local_importance": [[0.5, 0.3, 0.3, 0.2, 0.2, 0.0, 0.3, 0.1], [0.5, 0.2, 0.0, 0.4, 0.3, 0.2, 0.3, 0.1], [0.6, 0.0, 0.1, 0.0, 0.3, 0.2, 0.2, 0.4], [0.9, 0.0, 0.1, 0.0, 0.0, 0.2, 0.0, 0.1], [0.2, 0.2, 0.2, 0.2, 0.2, 0.3, 0.2, 0.4], [0.4, 0.0, 0.6, 0.5, 0.0, 0.0, 0.0, 0.5], [0.3, 0.0, 0.4, 0.8, 0.1, 0.1, 0.0, 0.2], [1.0, 0.3, 0.9, 0.4, 0.6, 0.0, 0.6, 0.3], [0.3, 0.1, 0.3, 0.1, 0.2, 0.1, 0.1, 0.6], [0.8, 0.0, 0.0, 1.0, 0.0, 0.2, 0.0, 0.3]], "summary_importance": [0.55, 0.11, 0.29, 0.36, 0.19, 0.13, 0.17, 0.3], "data_interface": {"outcome_name": "income", "data_df": "dummy_data"}, "feature_names": ["age", "workclass", "education", "marital_status", "occupation", "race", "gender", "hours_per_week"], "feature_names_including_target": ["age", "workclass", "education", "marital_status", "occupation", "race", "gender", "hours_per_week", "income"], "model_type": "classifier", "desired_class": "opposite", "desired_range": null, "metadata": {"version": "2.0"}}

## Convert the json output to a counterfactual object

In [15]:
imp_r = imp.from_json(json_str)
print([o.visualize_as_dataframe(show_only_changes=True) for o in imp_r.cf_examples_list])
print(imp_r.local_importance)
print(imp_r.summary_importance)

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,42,Self-Employed,Prof-school,Married,Professional,White,Male,50,1

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,-,-,HS-grad,-,-,-,-,10.0,0
1,65.0,-,-,-,-,-,Female,-,0
2,-,-,HS-grad,-,Service,-,-,-,0
3,-,Other/Unknown,HS-grad,-,-,-,-,-,0
4,22.0,-,-,-,Blue-Collar,-,-,-,0
5,17.0,Private,-,-,-,-,-,-,0
6,-,-,-,Separated,-,-,Female,-,0
7,68.0,Private,-,-,-,-,-,-,0
8,85.0,-,-,-,-,-,-,-,0
9,-,-,-,Widowed,-,-,Female,-,0

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,56,Private,School,Married,Professional,White,Male,40,1

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,49.0,-,-,Single,-,-,-,-,0
1,82.0,-,-,Single,-,-,-,-,0
2,-,Self-Employed,-,-,-,-,-,5.0,0
3,-,Other/Unknown,-,-,-,-,Female,-,0
4,67.0,-,-,-,Other/Unknown,-,-,-,0
5,-,-,-,-,Blue-Collar,Other,-,-,0
6,-,-,-,Separated,-,Other,-,-,0
7,-,-,-,Divorced,-,-,Female,-,0
8,46.0,-,-,-,Service,-,-,-,0
9,77.0,-,-,-,-,-,Female,-,0

Query instance (original outcome : 0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,39,Private,Some-college,Married,White-Collar,White,Male,48,0

Counterfactual set (new outcome: 1.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,76.0,-,-,-,-,Other,-,-,-
1,-,-,-,-,-,-,Female,71.0,1
2,-,-,-,-,Sales,-,-,11.0,1
3,33.0,-,-,-,-,-,-,-,1
4,-,-,Doctorate,-,-,-,Female,-,1
5,51.0,-,-,-,Service,-,-,-,1
6,57.0,-,-,-,Professional,-,-,-,1
7,82.0,-,-,-,-,Other,-,-,1
8,-,-,-,-,-,-,-,92.0,1
9,46.0,-,-,-,-,-,-,55.0,1

Query instance (original outcome : 0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,31,Private,Some-college,Married,Service,Other,Male,40,0

Counterfactual set (new outcome: 1.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,56.0,-,-,-,-,-,-,-,1
1,51.0,-,-,-,-,-,-,-,1
2,89.0,-,-,-,-,-,-,-,1
3,72.0,-,-,-,-,-,-,-,1
4,77.0,-,-,-,-,-,-,59.0,1
5,-,-,School,-,-,White,-,-,1
6,86.0,-,-,-,-,White,-,-,1
7,69.0,-,-,-,-,-,-,-,1
8,82.0,-,-,-,-,-,-,-,1
9,53.0,-,-,-,-,-,-,-,1

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,71,Self-Employed,Some-college,Married,White-Collar,White,Male,50,1

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,-,-,-,-,-,-,-,39.0,0
1,-,Private,Prof-school,-,-,-,-,-,0
2,81.0,-,-,-,-,Other,-,-,0
3,-,-,-,-,-,-,Female,92.0,0
4,-,-,HS-grad,-,-,-,Female,-,0
5,-,-,-,-,Other/Unknown,Other,-,-,0
6,-,-,-,Widowed,-,-,-,12.0,0
7,-,-,-,Widowed,-,Other,-,-,0
8,78.0,-,-,-,-,-,-,8.0,0
9,-,Other/Unknown,-,-,Blue-Collar,-,-,-,0

Query instance (original outcome : 0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,65,Private,HS-grad,Widowed,Sales,White,Female,40,0

Counterfactual set (new outcome: 1.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,-,-,Some-college,-,-,-,-,46.0,1
1,-,-,Some-college,Married,-,-,-,-,1
2,-,-,Masters,-,-,-,-,53.0,1
3,35.0,-,-,Married,-,-,-,-,1
4,-,-,Doctorate,-,-,-,-,88.0,1
5,41.0,-,-,Married,-,-,-,-,1
6,-,-,Some-college,-,-,-,-,88.0,1
7,38.0,-,-,Married,-,-,-,-,1
8,36.0,-,-,Married,-,-,-,-,1
9,-,-,Some-college,-,-,-,-,67.0,1

Query instance (original outcome : 0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,67,Government,HS-grad,Widowed,Service,White,Male,40,0

Counterfactual set (new outcome: 1.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,73.0,-,-,Married,-,-,-,-,1
1,-,-,Prof-school,Married,-,-,-,-,1
2,-,-,-,Married,-,Other,-,-,1
3,76.0,-,-,Married,-,-,-,-,1
4,-,-,Masters,Married,-,-,-,-,1
5,-,-,Prof-school,-,-,-,-,59.0,1
6,-,-,-,Married,-,-,-,-,1
7,89.0,-,-,Married,-,-,-,-,1
8,-,-,-,Married,White-Collar,-,-,-,1
9,-,-,Prof-school,-,-,-,-,46.0,1

Query instance (original outcome : 0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,25,Other/Unknown,School,Single,Other/Unknown,White,Male,40,0

Counterfactual set (new outcome: 1.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,67.0,-,Masters,-,-,-,Female,-,1
1,44.0,-,-,-,Professional,-,-,94.0,1
2,52.0,-,Masters,-,White-Collar,-,Female,-,1
3,67.0,Government,Masters,-,-,-,Female,-,1
4,81.0,-,Masters,-,-,-,Female,-,1
5,43.0,-,HS-grad,Married,-,-,Female,-,1
6,52.0,-,Masters,Married,White-Collar,-,Female,-,1
7,44.0,Private,Masters,Married,Sales,-,-,-,1
8,52.0,-,Prof-school,Divorced,Professional,-,-,78.0,1
9,67.0,Government,Doctorate,-,White-Collar,-,-,62.0,1

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,51,Government,Some-college,Married,Sales,White,Male,40,1

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,-,-,School,-,-,-,-,53.0,0
1,37.0,-,-,Single,-,-,-,-,0
2,-,-,-,-,-,-,-,25.0,0
3,45.0,-,-,-,-,-,Female,-,0
4,-,Other/Unknown,-,-,-,Other,-,-,0
5,-,-,Masters,-,-,-,-,13.0,0
6,-,-,-,-,Service,-,-,77.0,0
7,-,-,-,-,Blue-Collar,-,-,55.0,0
8,-,-,Assoc,-,-,-,-,11.0,0
9,29.0,-,-,-,-,-,-,-,0

Query instance (original outcome : 0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,26,Private,Bachelors,Single,White-Collar,Other,Female,32,0

Counterfactual set (new outcome: 1.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,81.0,-,-,Married,-,-,-,90.0,1
1,65.0,-,-,Married,-,-,-,-,1
2,49.0,-,-,Married,-,-,-,-,1
3,81.0,-,-,Married,-,-,-,-,1
4,-,-,-,Married,-,White,-,72.0,1
5,47.0,-,-,Married,-,-,-,-,1
6,79.0,-,-,Married,-,-,-,-,1
7,-,-,-,Married,-,-,-,64.0,1
8,52.0,-,-,Married,-,-,-,-,1
9,58.0,-,-,Married,-,White,-,-,1

[None, None, None, None, None, None, None, None, None, None]
[{'age': 0.5, 'workclass': 0.3, 'education': 0.3, 'gender': 0.3, 'marital_status': 0.2, 'occupation': 0.2, 'hours_per_week': 0.1, 'race': 0.0}, {'age': 0.5, 'marital_status': 0.4, 'occupation': 0.3, 'gender': 0.3, 'workclass': 0.2, 'race': 0.2, 'hours_per_week': 0.1, 'education': 0.0}, {'age': 0.6, 'hours_per_week': 0.4, 'occupation': 0.3, 'race': 0.2, 'gender': 0.2, 'education': 0.1, 'workclass': 0.0, 'marital_status': 0.0}, {'age': 0.9, 'race': 0.2, 'education': 0.1, 'hours_per_week': 0.1, 'workclass': 0.0, 'marital_status': 0.0, 'occupation': 0.0, 'gender': 0.0}, {'hours_per_week': 0.4, 'race': 0.3, 'age': 0.2, 'workclass': 0.2, 'education': 0.2, 'marital_status': 0.2, 'occupation': 0.2, 'gender': 0.2}, {'education': 0.6, 'marital_status': 0.5, 'hours_per_week': 0.5, 'age': 0.4, 'workclass': 0.0, 'occupation': 0.0, 'race': 0.0, 'gender': 0.0}, {'marital_status': 0.8, 'education': 0.4, 'age': 0.3, 'hours_per_week': 0.2, 'occupation': 0.1, 'race': 0.1, 'workclass': 0.0, 'gender': 0.0}, {'age': 1.0, 'education': 0.9, 'occupation': 0.6, 'gender': 0.6, 'marital_status': 0.4, 'workclass': 0.3, 'hours_per_week': 0.3, 'race': 0.0}, {'hours_per_week': 0.6, 'age': 0.3, 'education': 0.3, 'occupation': 0.2, 'workclass': 0.1, 'marital_status': 0.1, 'race': 0.1, 'gender': 0.1}, {'marital_status': 1.0, 'age': 0.8, 'hours_per_week': 0.3, 'race': 0.2, 'workclass': 0.0, 'education': 0.0, 'occupation': 0.0, 'gender': 0.0}]
{'age': 0.55, 'marital_status': 0.36, 'hours_per_week': 0.3, 'education': 0.29, 'occupation': 0.19, 'gender': 0.17, 'race': 0.13, 'workclass': 0.11}